<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<mapping class="com.spring.practice.pojo.Team" />
	</session-factory>
</hibernate-configuration>